*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    text-align: center;
}
.Answers {
    background-color: purple;
    color: white;
    padding: 5px;
    line-height: normal;
}
.Correctanswer {
    background-color: purple;
    color: white;
    padding: 5px;
    line-height: normal;
    text-align: center;
}

.title {
    text-align: center;
}

